
@import url('https://fonts.googleapis.com/css2?family=Baloo+Tamma+2&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&display=swap');
body{
    padding-top: 92px;
    margin: 0;
    overflow: hidden;
}
#header{
    width: calc(100vw - 80px);
    height: 90px;
    padding: 0px 40px;
    position: fixed;
    left: 0;
    top: 0;
    border-bottom: 2px solid #eeeeee;
    z-index: 100;
    background-color: white;
    font-family: 'Nanum Gothic Coding', monospace;
}
.logo{
    display: inline-block;
    font-family: 'Baloo Tamma 2', cursive;
}
.logo a{
    text-decoration: none;
    color: #0ab6a2;
}
.user{
    float: right;
    margin: 0;
}
#header .user li{
    display: inline-block;
    padding-left: 12px;
    height: 90px;
    line-height: 90px;
}
ul{
    list-style: none;
}
.menu {
    position: fixed;
    left: 0px;
    top: 92px;
    display: inline-block;
    padding: 0;
    margin: 0px;
    height: 100vh;
    border-right: 2px solid #eeeeee;
    z-index: 90;
    background-color: white;
    font-family: 'Nanum Gothic Coding', monospace;
}
.category:hover{
    background-color: #0ab6a2;
}
.category:active{
    background-color: gray;
}
.category a{
    display: block;
    width: 128px;
    height: 45.6px;
    text-decoration: none;
    text-align: center;
    line-height: 45.6px;
    font-weight: bold;
    color: black;
}
#selected a{
    background-color: #eeeeee;
    color: #0ab6a2;
}
#map{
    width: calc(100vw - 130px);
    height: calc(100vh - 92px);
}
#content {
    position: absolute;
    left: 130px;
    top: 92px;
    width: calc(100vw - 130px);
    height: calc(100vh - 92px);
}
